---
import Layout from "../layouts/Layout.astro";
import { products } from "../data/data";
import { Image } from "astro:assets";

const { product } = Astro.params;

const info = products.find((p) => p.id === product);

if (!info) {
  return Astro.redirect("/404");
}

export const getStaticPaths = async () => {
  const paths = products.map((product) => ({
    params: { product: product.id.toString() },
  }));

  return paths;
};



---

<Layout title={`Productos`}>

  <div class="productCardPage">
      <div>
        <img src=`/Products/${info.src}` alt={info.alt} />
      </div>
    <div class="productCardPageTextContainer">
      <h1>{info.nombre}</h1>
      <p>
        {info.descripcion}
      </p>
    </div>
  </div>

</Layout>

