html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-size: 40px;
  max-width: 100%;

  font-family: "Nunito", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style-type: none;
}

h1 {
  font-size: 4rem;
  font-weight: 900;
}
h2 {
  font-size: 2.5rem;
  font-weight: 800;
  
}
h3 {
  font-size: 1.5rem;
  font-weight: 700;
}
h4{
  font-size: 1.3rem;
  font-weight: 600;
}
a,p{
  font-size: 1rem;
}
small{
  font-size: 0.8rem;
}

/*** Header */
header{
  position: fixed;
  width: 100%;
  background: white;
  z-index: 100;
  background-color: rgb(255, 247, 247);
}
.hamburgerMenuContainer{
  display: none;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 7rem;
}

.headerContainer>div{
  display: flex;
}

.navList {
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}


.navList>li>a{
  font-weight: 800;
}


/*** Main */


span {
  color: red;
}

.parallax {
  background-image: url(./campoarrocero.jpg); /* Cambia esto con la ruta de tu imagen */
  background-attachment: fixed; /* Aquí es donde se crea el efecto parallax */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.hero-content {
  color: white;
  text-align: center;
  z-index: 1;
  position: relative;
}

.parallax::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Filtro oscuro */
}

h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

h1,
h2 {
  position: relative; /* Ajusta la posición de los títulos */
  z-index: 1; /* Coloca los títulos por encima del fondo */
  margin: 0;
}

span {
  color: #fd0003;
}

/** cards **/

#products {
  margin-top: 100px;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Crea 3 columnas con el mismo ancho */
  gap: 80px 80px; /* Espacio entre las celdas */
  margin: 50px 0;
  padding: 0;
}

.productsTitle {
  text-align: center;
}

.productCard {
  display: flex;
  padding: 12px 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  min-height: 500px;
}

.productCard > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 1s;
}



.productCardImgContainer > img {
  height: 300px;
  width: 10rem;
  border-radius: 1rem;
  object-fit: contain;
}

.productCard > a > div > h3 {
  text-align: center;
}

.productCard > a > div > p {
  width: 241px;
  height: 95px;
  text-align: center;
}

.productCard > a > button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  gap: 8px;
  border-radius: 12px;
  border: 3px solid #fd0003;
  font-weight: bolder;
  cursor: pointer;
  background-color: transparent;
  color: #fd0003;
}



/** Contacto */
.Contact{
  margin-top: 100px;
}

.Contact > h2 {
  text-align: center;
  margin-bottom: 50px;
}

.ContactContainer {
  display: flex;
  width: 100%;
}

.ContactInfo, .AddressesContainer{
  width: 49vw;
  display: flex;
}

.ContactInfo>div>div ,.AddressesContainer>div>div{
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 30px;
}

.ContactInfo>div>div>p, .AddressesContainer>div>div>a>p{
  margin: 0;
}

.AddressTitleContainer, .ContactTitleContainer{
  display: flex;
  align-items: center;
  gap: 10px;
}
.AddressTitleContainer>img, .ContactTitleContainer>img{
  width: 40px;
  height: auto;
}
.MobilesContainer>div>h4, .MobilesContainer>div>p{
  margin: 5px;
}

.MobilesContainer>div:nth-child(2){
  margin-top: 25px;
  margin-bottom: 0;
}


.ContactInfo, .AddressesContainer{
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
}





.Map{
  border-radius: 20px;
  border:0;
  height: auto;
  width: auto;
}


/**Formulario **/
.FormSectionContainer>h3{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

label{
  font-size: 16px;
  font-weight: 800;
}
.form-group>input{
  font-size: 14px;
  width: 250px;
  height: 20px;
}


.formContactContainer{
  display: flex;
  justify-content: center;
}


.form-group{
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.formInputsContainer{
  display: flex;
  gap: 100px;
}
.formInputsNameEmail{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form-group-textarea{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  width: 100%;
  height: auto;
}
.form-group-textarea>textarea{
  width: max-content;
  width: 100%;
  height: 130px;
  font-size: 14px;
  resize: none;
}

.btnEnviarEmail{
  margin-top: 20px;
  padding: 16px 48px;
  text-align: center;
  border-radius: 12px;
  background: #fd0003;
  border: none;
  color: white;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  display: flex;
  display: flex;
  justify-content: center; /* Añadido para centrar horizontalmente */
  align-items: center; /* Añadido para centrar verticalmente */
}





/* About Us */

#aboutUs{
  margin-top: 50px;
}

.AboutUsContainer>h2{
  text-align: center;
}
.AboutUsContainer>div{
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}
.AboutUsContainer>div>div{
  width: 45vw;
}
.AboutUsTextContainer{
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.AboutUsTextContainer>h4{
  text-align: center;
  margin-top: 0;
}
.AboutUsImageContainer{
  display: flex;
  justify-content: center;
  
}
.AboutUsImageContainer>img{
  width: 80%;
  height: min-content;
  border-radius: 50px;
  object-fit: contain;

}
.AddressesContainer>div>div>p{
  margin-top: 0;
}

.AboutUsContainer{
  margin-top: 100px;
}
.AboutUsContainer>div{
  margin-top: 50px;
}

/* Product Card Page */
.productCardPage{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 50px;
}

.productCardPage:first-child{
  display: flex;
  flex-direction: column;
}

.productCardPage>div>:nth-child(2){
  display: flex;
  align-items: center;
  text-align: center;
  max-width: 500px;
}
.productCardPage:nth-child(2)  > p {
  max-width: 500px;
  margin: 0 auto; /* Centra el párrafo dentro del div */
  overflow-wrap: break-word; /* Permite que las palabras largas se rompan */
  background-color: #fd0003;
}

.productCardPage>div>img{
  max-width: 200px;
}

.productCardPageTextContainer>h1{
  font-size: 3rem;
  text-align: center;
}
.productCardPageTextContainer>p{
  text-align: center;
}

.productCardPageTextContainer>div{
  display: flex;
  justify-content: center;
}
.productCardPageTextContainer>div>button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 12px;
  gap: 8px;
  border-radius: 12px;
  font-weight: bolder;
  cursor: pointer;
  width: 50%;
  height: 50%;
  margin-top: 20px;
}



.productLargoFino0000{
  border: 3px solid #1e7ba1;
  color: #1e7ba1;
}


.productLargoFino00000{
  border: 3px solid #fd0003;
  color: #fd0003;
}


.productLargoFino00000{
  border: 3px solid #fd0003;
  color: #fd0003;
}


.productDobleCarolina{
  border: 3px solid #86713c;
  color: #86713c;
}


.productParboil{
  border: 3px solid #d2ac38;
  color: #d2ac38;
}


.productIntegral{
  border: 3px solid #135236;
  color: #135236;
}


  /* Estilo para el modal */
  .modal {
    visibility: hidden; /* Oculto por defecto */
    opacity: 0; /* Completamente transparente */
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh; /* Ajustado para cubrir toda la pantalla */
    overflow: hidden; /* Evita el scroll */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro */
    backdrop-filter: blur(5px); /* Fondo borroso */
    display: flex;
    justify-content: center;
    align-items: start; /* Centra el contenido */
    transition: visibility 0s, opacity 0.5s ease-in-out; /* Transición suave */
    padding-top: 20px;
  }

  /* Botón de cierre del modal */
  .close {
  display: flex;
  justify-content: start;
  align-items: start;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  border-radius: 50px;
  background: rgb(255, 255, 255);
  border: none;
  font-size: 24px;
  font-weight: 900;
  cursor: pointer;
  color: rgb(0, 0, 0);
  transition: color 0.3s ease;
  }

  /* Contenido del modal */
  .modal-content {
    position: relative; /* Importante para que la posición del botón de cierre sea relativa al contenido */
    padding: 20px;
    border-radius: 10px;
    width: auto;
    max-width: 90%; /* Ajusta el tamaño máximo del modal */
    max-height: 90%; /* Ajusta la altura máxima del modal */
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; /* Considera el padding en el tamaño */
  }

  .modal-content img {
    width: auto;
    max-width: 500px;
    max-height: auto;
    border-radius: 10px;
    margin-top: 20px;
  }

/* Footer  */


footer{
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 247, 247);  
  padding: 2rem 2rem 2rem 4rem;
  margin-top: 4rem;
}






@media (min-width:750px) {
  .navList>li>a:hover{
    transition: 0.6s;
    color: red;
  }
  .productCard > a:hover > div > img {
    transform: scale(1.1);
    transition: 1s;
  }
  
  .productCard > a > button {
    background-color: #fd0003;
    color: white;
    transition: 1s;
  }
  /* Form */
  .btnEnviarEmail:hover{
    opacity: 0.8;
    transition: 1s;
  }

  /* Page Product */
  .btnEnviarEmail:hover{
    opacity: 0.8;
    transition: 1s;
  }
  .productLargoFino0000:hover {
    background-color: #1e7ba1;
    color: white;
    transition: 1s;
  }
  .productLargoFino00000:hover {
    background-color: #fd0003;
    color: white;
    transition: 1s;
  }
  .productLargoFino00000:hover {
    background-color: #fd0003;
    color: white;
    transition: 1s;
  }
  .productDobleCarolina:hover {
    background-color: #86713c;
    color: white;
    transition: 1s;
  }
  .productParboil:hover {
    background-color: #d2ac38;
    color: white;
    transition: 1s;
  }
  .productIntegral:hover {
    background-color: #135236;
    color: white;
    transition: 1s;
  }
}

@media (max-width: 1280px) {
  body {
    font-size: 40px;
  }
  .cardContainer {
    display: grid;
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Crea 3 columnas con el mismo ancho */
    gap: 80px 80px; /* Espacio entre las celdas */
    margin: 50px 0;
  }
}

@media (max-width: 1024px) {
  body {
    font-size: 40px;
  }
  .cardContainer {
    display: grid;
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Crea 3 columnas con el mismo ancho */
    gap: 80px 80px; /* Espacio entre las celdas */
    margin: 50px 0;
  }
  .AboutUsTextContainer>p{
    justify-content: center;
  }

  .AboutUsImageContainer{
    display: flex;
    align-items: center;
  }

}

/* Tabletas 768 */
@media (max-width: 850px) {
  h1{
    font-size: 60px;
  }
  h2{
    font-size: 35px;
  }
  body {
    font-size: 18px;
  }
  .navContainer{
    display: flex;
    align-items: center;
  }
  .navList{
    display: none;
  }
  .headerContainer{
    position: fixed;
    width: 100%;
    z-index: 10;
    position: 0;
  }
  header{
    height: 94px;
  }

  .active{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    background: #fae8e8;
    padding: 1rem;
    width: auto;
    border-radius: 10px;
    z-index: 10;
  }
  .hamburgerMenuContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
  }
  .hamburgerMenu{
    height: 40px;
    width: auto;
  }



  .hamburgerMenuContainer{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hamburgerMenu{
    height: 40px;
    width: auto;
  }
  .headerContainer{
    display: flex;
    justify-content: space-around;
    padding: 16px 0;
  }

  .mainContainer{
    min-height: 0;
  }
  .cardContainer {
    display: grid;
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Crea 3 columnas con el mismo ancho */
    gap: 80px 80px; /* Espacio entre las celdas */
    margin: 50px 50px 0;
  }

  .productCard>a{
    cursor: pointer;
  }
  .AboutUsContainer>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .AboutUsTextContainer>h4{
    text-align: center;
    margin-bottom: 0;
  }

  .AboutUsContainer>div>div{
    width: 75vw;
  }

  #main{
    margin-top: 40px;
  }
  #products{
    margin-top: 70px;
  }

  .modal-content img {
    width: auto;
    max-width: auto;
    max-height: 450px;
    border-radius: 10px;
    margin-top: 20px;
  }
}

@media (max-width: 650px) {
  body {
    font-size: 10px;
  }
  h1{
    text-align: center;
    font-size: 40px;
  }
  h2{
    text-align: center;
    font-size: 32px;
  }
  .headerContainer{
    position: fixed;
    width: 100%;
    z-index: 10;
    position: 0;
  }
  header{
    height: 94px;
  }

  .navList{
    display: none;
  }
  .active{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    background: #fae8e8;
    padding: 1rem;
    width: auto;
    border-radius: 10px;
    z-index: 10;
  }
  .hamburgerMenuContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
  }
  .hamburgerMenu{
    height: 40px;
    width: auto;
  }

  .mainContainer{
    min-height: auto;
  }


  #main{
    margin-top: 35px;
  }

  #products{
    margin-top: 70px;
  }

  #contact{
    margin-top: 70px;
  }

  #aboutUs{
    margin-top: 70px;
  }

  .cardContainer {
    display: grid;
    grid-template-columns: repeat(
      1,
      1fr
    ); /* Crea 3 columnas con el mismo ancho */
    gap: 80px 80px; /* Espacio entre las celdas */
    margin: 50px 0;
  }

  .productCardImgContainer>img{
    height: 350px;
  }

  /* CONTACT */
  .ContactContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .AddressesContainer, .co{
    margin-top: 30px;
    width: 100%;
  }

  .AddressesContainer>div{
    width: 100%;
  }
  .Map{
    max-width: 100%;
  }

  /* About us  */

  .AboutUsContainer>div>div{
    width: 100%;
  }

  .AboutUsTextContainer{
    width: 100%;
  }

    /* Formulario */

    .formInputsContainer{
      flex-direction: column; 
      gap: 25px;
    }
    .form-group-textarea{
      display: flex;
      justify-content: center;
      align-items: center;
      width: max-content;
    }
    .form-group-textarea>input{
      width: 40px;
      display: flex;
      justify-content: start;
      align-items: start;
    }
    .form-group-textarea>textarea{
      width: 250px;
    }


    /* Product Card Page */
  .productCardPage{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .productCardPage>div>div>img{
    width: 50%;
  }
  .productCardPage>div>div{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .productCardPageTextContainer{
    margin: 0 30px;
  }

}



/* Celulares */
@media (max-width: 450px) {
  body {
    font-size: 10px;
  }
  h1{
    text-align: center;
    font-size: 40px;
  }
  h2{
    text-align: center;
    font-size: 32px;
  }
  .headerContainer{
    position: fixed;
    width: 100%;
    z-index: 10;
    position: 0;
  }
  header{
    height: 94px;
  }

  .navList{
    display: none;
  }
  .active{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    background: #fae8e8;
    padding: 1rem;
    width: auto;
    border-radius: 10px;
    z-index: 10;
  }
  .hamburgerMenuContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
  }
  .hamburgerMenu{
    height: 40px;
    width: auto;
  }

  .mainContainer{
    min-height: auto;
  }
  
  #main{
    margin-top: 35px;
  }

  #products{
    margin-top: 70px;
  }

  #contact{
    margin-top: 70px;
  }

  #aboutUs{
    margin-top: 70px;
  }

  .cardContainer {
    display: grid;
    grid-template-columns: repeat(
      1,
      1fr
    ); /* Crea 3 columnas con el mismo ancho */
    gap: 80px 80px; /* Espacio entre las celdas */
    margin: 50px 0;
  }

  .productCardImgContainer>img{
    height: 350px;
  }

  /* CONTACT */
  .ContactContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .AddressesContainer, .contactInfo{
    margin-top: 30px;
    width: 100%;
  }


  .AddressesContainer>div{
    width: 100%;
  }
  .Map{
    max-width: 100%;
  }

  /* About us  */

  .AboutUsContainer>div>div{
    width: 100%;
  }

  .AboutUsTextContainer{
    width: 100%;
  }

    /* Product Card Page */
  .productCardPage{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .productCardPage>div>div>img{
    width: 50%;
  }
  .productCardPage>div>div{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .productCardPageTextContainer{
    margin: 0 30px;
  }

}

