---
import { Image } from "astro:assets";
import fabric from "../components/img/fabric2.jpg";
---

<section class="AboutUsContainer" id="aboutUs">
  <h2>Sobre nosotros</h2>
  <div>
    <div class="AboutUsImageContainer">
      <Image src={fabric} alt="Planta Carogran S.A" />
    </div>
    <div >
      <div class="AboutUsTextContainer">
        <h4>Quienes somos</h4>
        <p>
          Bienvenido a Carogran S.A, una empresa con 30 años de experiencia
          dedicada a la industrialización y comercialización de arroz. Nos
          enorgullece ser un actor clave en el abastecimiento de las cadenas de
          supermercados más importantes de nuestro país. Ubicados estratégicamente
          en La Clarita, Provincia de Entre Ríos, en una de las zonas arroceras
          más destacadas de la nación, nuestro molino es un punto geográfico clave
          para la distribución de productos de alta calidad. Nos especializamos en
          la fabricación de marcas propias, incluida la nuestra, garantizando
          estándares excepcionales en cada paso del proceso productivo. Nuestra
          dedicación a la calidad se refleja en la supervisión constante de las
          cadenas de hipermercados más reconocidas.
        </p>
      </div>
    </div>
  </div>
</section>
