---
import { Image } from "astro:assets";
import Logo from './img/Icons/carogranLogo.png';
import Menu from './img/Icons/menuHamburgesa.png';
---

<header>
  <div class="headerContainer">
    <div>
      <a href="/">
        <Image src={Logo} alt="Logo Carogran S.A" width="150" />
      </a>
    </div>
    <nav class="navContainer">
      <button class="hamburgerMenuContainer" id="hamburgerIcon">
        <Image src={Menu} alt="menu hamburgesa" class="hamburgerMenu"/>
      </button>
      <div class="navListContainer">
        <ul class="navList" id="navList">
          <li><a href="/#index">Inicio</a></li>
          <li><a href="/#products">Productos</a></li>
          <li><a href="/#contact">Contacto</a></li>
          <li><a href="/#aboutUs">Sobre nosotros</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>

<script>

    const menuBtn = document.getElementById('hamburgerIcon');
    const navList = document.getElementById('navList');
    if (menuBtn) {
      menuBtn.addEventListener('click', () => {
        navList.classList.toggle('active');
      });
    }

</script>
