---
import { Image } from "astro:assets";
import Logo from './img/Icons/carogranLogo.png';
import Back from './img/Icons/back.png';
---

<header>
  <div class="headerContainer">
    <div>
      <a href="/">
        <Image src={Logo} alt="Logo Carogran S.A" width="150" />
      </a>
    </div>
    <nav class="navContainer">
      <a href="/" class="backContainer">
        <Image src={Back} alt="Volver" width="30" />
      </a>
    </nav>
  </div>
</header>

<script>

    const menuBtn = document.getElementById('hamburgerIcon');
    const navList = document.getElementById('navList');
    if (menuBtn) {
      menuBtn.addEventListener('click', () => {
        navList.classList.toggle('active');
      });
    }

</script>
