---
import { Image } from "astro:assets";
import Logo from './img/Icons/carogranLogo.png'
---

<header class="headerContainer">
  <div>
    <Image src={Logo} alt="Logo Carogran S.A" width="150" />
  </div>
  <nav class="navContainer">
    <ul class="navList">
      <li><a href="/">Inicio</a></li>
      <li><a href="#products">Productos</a></li>
      <li><a href="#contact">Contacto</a></li>
      <li><a href="#aboutUs">Sobre nosotros</a></li>
    </ul>
  </nav>
</header>
