---
import { Image } from "astro:assets"
import Bowl from './img/BowlArroz.png'
---

<main class="mainContainer">
  <div>
    <h1>Arroz Carogran</h1>
    <h2>la mejor calidad, al mejor precio</h2>
  </div>
  <div>
    <Image src={Bowl} 
      alt="Bowl con arroz"
      width="250"
    />
  </div>  
</main>