---
interface Props {
  title: string;
}

const { title } = Astro.props;

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

import "../pages/styles/index.css"
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content="{Astro.generator}" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="keywords" content="arroz, Carogran, Largo Fino" />

    <link rel="shortcut icon" href="Products/carogranLogo.png" type="image/png">
    
    <!-- Preconexión para mejorar tiempos de carga -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <!-- Preload de fuentes para optimizar la carga -->
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
      <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    </noscript>
    
    <!-- Script de EmailJS -->
    <script defer src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>
    <script defer>
        window.onload = function() {
            emailjs.init('sR8BuHVKrNYNZ99F4');
        }
    </script>

    <title>Inicio</title>
</head>

  <body>
  <Header />

    <slot />
  <Footer />
  </body>
</html>
